/*aspectos generales: bordes y color de fondo de calculadora*/
.calculadora { border: 30px green ridge; 
               width: 250px;
               text-align: center;
               background-color: #e0fec2; }

/*pantalla de visualización: bordes, posición, color de fondo, estilo letra.*/
#textoPantalla { width: 185px; 
                 border: 2px black solid; 
                 text-align: right; 
                 position: relative; 
                 left: 23px;  
                 padding: 0px 5px;
                 background-color: white; 
                 font-family: "courier new"; 
                 overflow: hidden;}

/*botones normales: anchura y margen*/
.calculadora [type=button] { width: 35px; 
                            padding: 0;  }
/*botones especiales*/
.calculadora input.largo { color: red; 
                           width: 35px; }