@CHARSET "UTF-8";
body{
	margin:0px;
}
#cabecera{
	height: 159px;
	width: 100%;
	background-color: red;
}

#centro{
	height: 590px;
	width: 100%;
	background-color: orange;
}

#menu{
	height: 590px;
	width: 20%;
	background-color: blue;
	float: left;
}

#contenido{
	height: 590px;
	width: 80%;
	background-color: fuchsia;
	float: right;
}

#pie{
	height: 50px;
	width: 100%;
	background-color: gray;
}