table{
	width:50%;
	border-collapse: collapse;
}
th, td{
	text-align: left;
	padding: 10px;
}
tr:nth-child(even){
	background-color:#d6cdfe;
}
tr:nth-child(odd){
	background-color:#feebfc;
}

th{
	background-color: #004080;
	color: white;
}
h1{
	width:50%;
	background-color:#8000ff;
	color: #feebfc;
	text-align: center;
}