table{
	width:100%;
	border-collapse: collapse;
}

h3{
	width:100%;
	background-color:black;
	color: red;
	text-align: left;
	font-family: "courier new";
	}
	
tr{
	background-color:black;
	color: white;
	text-align: left;
    border: 1px #4d4d4d solid;
}	

label{
	color: white;
	
    }
input[type=text], select {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #383838;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #c0c0c0;
    font-family: "courier new";
    font-size: 16px;
}
textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #383838;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #c0c0c0;
    font-family: "courier new";
    font-size: 16px;
}

input[type=submit] {
    width: 30%;
    color: white;
    padding: 14px 10px;
    margin: 8px 0;
    border: 2px solid red;
    border-radius: 4px;
    cursor: pointer;
    background-color: black;
    font-family: "courier new";
    text-align: center;

}

input[type=submit]:hover {
    background-color: red;
}

div {
    border-radius: 5px;
    background-color: black;
    padding: 20px;
    width: 30%;
}

